.paginationSec {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .paginationCount {
    span {
      color: #000;
      text-align: center;
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .pagination-container {
    margin-top: 20px;
    display: flex;
    list-style-type: none;

    .pagination-item {
      display: inline-block;
      text-decoration: none;
      padding: 5px 13px;
      color: #000;
      border: 1px solid #c6c6c6;
      margin: 0 10px;
      border-radius: 5px;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;

      &.dots:hover {
        background-color: transparent;
        cursor: default;
      }
      &:hover {
        background-color: #ddd;
      }

      &.selected {
        color: #00c2ff;
        font-family: Poppins;
        font-weight: 500;
        border-color: #00c2ff;
      }

      .arrow {
        &::before {
          position: relative;
          /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
          content: "";
          top: -3px;
          /* By using an em scale, the arrows will size with the font */
          display: inline-block;
          width: 0.4em;
          height: 0.4em;
          border-right: 0.12em solid rgba(0, 0, 0, 0.87);
          border-top: 0.12em solid rgba(0, 0, 0, 0.87);
        }

        &.left {
          transform: rotate(-135deg) translate(-50%);
          top: -2px;
          position: relative;
          left: -1px;
        }

        &.right {
          transform: rotate(45deg);
        }
      }

      &.disabled {
        pointer-events: none;

        .arrow::before {
          border-right: 0.12em solid rgba(0, 0, 0, 0.43);
          border-top: 0.12em solid rgba(0, 0, 0, 0.43);
        }

        &:hover {
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }
  .pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .paginationSec {
    flex-direction: column;
    .pagination-bar {
      li.pagination-item {
        margin: 0 3px;
        padding: 3px 8px;
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .paginationSec {
    .paginationCount {
      margin-bottom: 25px;
    }
  }
}
