.downloadBtn {
  button {
    border: 0;
    border-radius: 3px;
    background-color: #444b8c;
    color: #fff;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 700;
    padding: 8px 16px;
  }
}
.payoutTableName {
  border: none;
  background: transparent;
  color: #00c2ff;
}
.payoutsSection {
  table {
    tbody {
      tr {
        td {
          padding: 20px 10px;
        }
      }
    }
  }
}
