input:focus {
  box-shadow: none !important;
}

input:focus-visible {
  outline: none;
}

/* Scroll */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  height: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (min-width: 992px) and (max-width: 1400px) {
  .App {
    .home-section {
      left: 230px;
      width: calc(100% - 230px);
      .headerContentSec .home-content {
        width: calc(100% - 230px);
      }
      .headerContentSec .home-content .bx-menu {
        width: 30px;
      }
      .employeeSection .employeeHeader {
        .employeeheading h2 {
          font-size: 28px;
        }
        .addEmployeeBtn button {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    .sidebar {
      width: 230px;
      .nav-links li a .link_name {
        font-size: 19px !important;
      }
      .logo-details .logo_name {
        font-size: 19px;
      }
    }
    .sidebar.close img.mainLogo {
      width: 60%;
      left: unset;
      object-fit: contain;
    }
  }
}
.aspectHeight {
  height: 100vh;
}
@media (max-width: 1230px) and (min-width: 1250px) {
  .aspectHeight {
    height: auto;
  }
}
